@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.showcase{
    background: url('./components/images/lineOfPeople.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.showcase::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.logo img{
    transform: translateY(-50px);
}

.emailFormInput:focus{
    outline: none;
}

.inputContainer{
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputContainer label{
    position: absolute;
    pointer-events: none;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: all 0.25s ease;
}

.inputContainer:focus-within label{
    transform: translateY(-45px) scale(0.8);
    color: lightgray;
}

.inputContainer .filled{
    transform: translateY(-45px) scale(0.8);
}

@media(max-width: 968px){
    .showcase{
        height: 120vh;
    }

    .showcase::after{
        height: 120vh;
    }
}

@media(max-width: 768px){
    .showcase{
        height: 140vh;
    }

    .showcase::after{
        height: 140vh;
    }
}